@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var clients = ViewData["ClientList"] as List<Client>;


}

<div class="container"> 
    <div class="row">
        <div class="col-6 offset-3">
            <h1>Clients</h1>
            <ul class="list-group list-group-flush">
                @if (clients != null)
                {
                    @foreach (Client client in clients)
                    {
                        <div id="@client.Id" onclick="GetClient(this)">
                            <li class="list-group-item"> Client Name : @client.Name | Email : @client.Email | PanCard : @client.PanCard | AadharCard : @client.AadharCard</li>
                        </div>
                        <button class="button button-dark">  @Html.ActionLink("Add Model", "Question", "Advisor",new { clientId= @client.Id}, new {@style  = "text-decoration: none; color:black"})</button>

                    }
                }
                else
                {
                    <p1>no clients</p1>
                }
            </ul>
            
        </div>

    </div>

</div>