@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var assetsList = ViewData["AssetSecurityList"] as List<AssetSecurity>;

}


<div class="contanier">
    <div class="row">  <h5>  <span> @Html.ActionLink("Logout", "Logout", "Home",null, new {@class  = "btn btn-danger my-1 mx-auto"})</span> </h5></div>
    <div class="row">
        <div class="col-6" id="assetsId">
            @if (assetsList != null)
            {
                  <h3>Asset Security List </h3>

                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">AssetName</th>
                            <th scope="col">SecurityName</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var ast in assetsList)
                        {
                            <tr>
                                <td>@ast.Id</td>
                                <td>@ast.Asset</td>
                                <td>@ast.SecurityName</td>
                            </tr>
                            @*<li class="list-group-item px-3 border-0 rounded-3 list-group-item-secondary mb-2"> @ast.Id  @ast.Asset @ast.SecurityName </li>*@
                        }
                    </tbody>
                </table>
                <button type="button" class="btn btn-success" onclick="AddAsset()">Add </button>
                <button type="button" class="btn btn-secondary" onclick="tableToCSV()"> Download CSV </button>
            }
        </div>
    </div>
    
</div>